body{
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}

.container{   
   margin: 100px auto auto auto;    
   width: 90%; 
}

.column{
    padding: 50px;  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.column-1{
    background-color:hsl(31, 77%, 52%) ; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.column-2{
    background-color: hsl(184, 100%, 22%);
}
.column-3{
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.title{
    font-family: 'Big Shoulders Display';
    text-transform: uppercase;
    font-size: 40px;
}
.description{
    font-family:'Lexend Deca' ;
    line-height: 2;
    font-size: 18px;
}
.title, .description{
    color: hsl(0, 0%, 95%);
}

.button{
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    font-family: 'Lexend Deca';
}
.button-sedans{
    color: hsl(31, 77%, 52%);
}
.button-suvs{
    color: hsl(184, 100%, 22%);
}
.button-luxury{
    color: hsl(179, 100%, 13%);
}

@media (min-width: 598px) { 
    
    body {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }   

    .container {
        margin: 0;
        width: 70%;
    }
    .container-columns{
        display: flex;        
    }
    
    .column-1{  
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0px;
    }
    .column-3{
        border-top-right-radius: 15px;      
        border-bottom-left-radius: 0px;
    }   
   
    .button{
        margin-top: 50px;
    }
    
}